/* General styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
  outline: none;
}
body {
  color: var(--text-color);
  background: linear-gradient(45deg, #8cdeff, #ffc4ff);
  padding: 5rem;
  height: 100vh;
}


.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: rgb(255, 255, 255, 0.5);
  backdrop-filter: blur(20px);
  position: relative;
  width: 70%;
  height: 70%;
  justify-self: center;
  justify-content: center;
  margin-top: 8%;
}

.row {
  display: flex;
  gap: 10px;
  justify-self: center;
  align-self: center;
}

.end-row {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 7rem;
}

.seat {
  width: 150px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #413c69;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  font-size: 2rem;
}

.seat:hover {
  background-color: #fdb2f5;
}

.un, .deux{
  display: none;
}
#compteur{
  font-size: 10rem;
  position:fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  
}