/* General styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
  outline: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(45deg, #8cdeff, #ffc4ff);
  height: 100vh;

  /* we need to do style on this one */
  button{
    padding: 10px;
  }
}

.container {
  display: flex;
  justify-content: center;
  gap: 5%;
  width: 90%;
  height: 70%;
  padding: 25px 0px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255, 0.5);
  backdrop-filter: blur(20px);
}

.seat {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  max-width: 180px;
  min-width: 100px;
  height: 80px;
  padding: 0px 15px;
  background-color: #413c69;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  font-size: 2rem;
  position: fixed;
}
.name{
  opacity: 0;
  transition: opacity 1s linear;
}

.appear{
  opacity: 1.2;
}

.seat:hover {
  background-color: #fdb2f5;
}

/* .un, .deux{
  display: none;
}
#compteur{
  font-size: 15rem;
  z-index: 1000;
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
}

.none{
  display: none;
}
.block{
  display: block;
} */