/* General styling */
body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #f9f9f9;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: left;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.row {
  display: flex;
  gap: 10px;
}

.end-row {
  display: flex;
  flex-direction: column;
  gap: 10px;

}

.seat {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
}

.seat:hover {
  background-color: #0056b3;
}

